#now{
  color:red;
  display: inline;
  padding-right:10px;
}

div{
  font-size:30px;

}

#main{
  width:30%;
  margin:auto;
  text-align: left;

  float:left;
}

#hide{
  font-size:6px;
}

img{
 width: 15%;
 float:right;

}

img:hover{
  width:15%;
}
